<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Universal links: PUBLIC_HOST is a build setting of the App target (host of VITE_PUBLIC_URL). -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:$(PUBLIC_HOST)</string>
	</array>
</dict>
</plist>
